body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  display: flex;
  padding: 45px 86px 15px;
}

.rem-btn {
    float:right;
    transform: rotate(45deg);
    padding: 2px 6px;
    font-size: 33px;
    cursor: pointer;
    transition: all .3s;
}

.rem-btn:hover {
  color: red;
}

.edit {
	display:inline-block;
  float: right;
  margin: 11px 6px;
  vertical-align: middle;
  padding: 7px 15px;
	/* background-color:#1de9b6;
  border:1px solid #dcdcdc; */
  background-color: rgb(212, 212, 212);
  border: 2px solid black;
	border-radius:6px;  
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  text-decoration:none;
  transition: all .3s;
}
.edit:hover {
  background-color: #ffea00 !important;
  color: black;
}
.edit:active {
	position:relative;
	top:1px;
}
.edit.active {
  background-color:#1de9b6;
}
.song-edit {
  background-color: rgb(212, 212, 212);
  border: 2px solid black;
}

.to-do-card {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  margin: 20px;
  width : 650px;
  background-color: rgb(255,255,255);
  padding: 5px 10px 10px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 150ms ease-in-out;
  animation: eMLfYp 300ms linear;
}

.to-do-card h4 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Open Sans', sans-serif;
}

.to-do-card input {
  padding: 11px 15px;
  font-size: 16px;
  width : 94%;
  border-radius: 5px;
  border: 2.5px solid black;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.to-do-card input:focus {
  outline: none;
  border-radius: 8px;
  border-color: #EBD292;
}

.to-do-list {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: none;
  /* background-color: rgb(202, 255, 222); */
  background-color: rgb(212, 212, 212);
  margin: 10px 0;
  padding: 14px 7px;
  /* background: rgb(241,241,241); */
  border-radius: 4.5px;
  animation: eMLfYp 300ms linear;
  justify-content: space-around;
  transition: all .3s;
  cursor: pointer;
}

.to-do-list.active {
  background-color: rgb(108, 245, 160);
}

.to-do-list:hover {
  background-color: rgb(164, 241, 193);
}

.to-do-list:active {
  background-color: rgb(108, 245, 160);
}
@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.animated {
  /* visibility: hidden; */
  animation: fade .3s;
}

.completed-list {
  opacity: 0.35;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: line-through;
  background-color: rgb(222, 202, 255);
  margin: 10px 0;
  padding: 11px 7px;
  /* background: rgb(241,241,241); */
  border-radius: 4.5px;
  animation: eMLfYp 300ms linear;
  justify-content: space-around;
}

.to-do-list-container {

}

.edit-field {
  border: 2px solid #fdd835 !important;
}

.new-card-form {
  display: flex;
  margin: 20px;
  background-color: #0a2c74;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 150ms ease-in-out;
  cursor: pointer;
  height: 100px;
  padding: 35px 40px;
  align-items: center;
  animation: eMLfYp 300ms linear;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}

.new-card-form h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 0.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.new-card-input {
  display: block;
  padding: 1%;
}
